doctype html
html
  head
    title Dashboard Test
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  body(style='background-color:#55ACEE')
    h1(align='center', style='color: #FFFFFF; font-weight: bold') Journaling Situational Awareness Dashboard
    h3(align='center', style='color: #FFFFFF; font-weight: bold') (for CSC591/791 Advanced Algorithms class - showing URL data only)
    table(style='width:90%', border-width='2', border='3', align='center')
      // Realtime Activity plots per User/Assignments
      // Latset APRIORI Association Rules (Filtered by Users/Assignments above)
      tr(height='50px', align='center')
        // <button onclick="ClickFun()">Click me!</button>
        // <td style="width:33%">Aggregate :
        // <div id="nitin"> </div>
        // </td>
        td(style='width:34%')
          | Users:
          // <select id="selectionUser" onchange="alert(this.options[this.selectedIndex].text);">
          select#selectionUser(onchange='UserChanged()')
            option(value='', style='display:none') Choose a student
            //
              "kbansal","smransho","cmoon2","mschaudh","sdharenb","wzhang27","rmchung","mxu5","kmkhasni","xzou2","htang4","fameeta","dadesai","hguo5","pjones","pmahish","ptdikshi","shsu3","skalmad","sdavang","drmedd","ryang9","dbhat2",”sshen"
            // For Viewing all user
            option(value='ALL') ALL
            option(value='kbansal') kbansal
            option(value='smransho') smransho
            option(value='cmoon2') cmoon2
            option(value='mschaudh') mschaudh
            option(value='sdharenb') sdharenb
            option(value='wzhang27') wzhang27
            // <option value="rmchung">rmchung</option>
            // <option value="mxu5">mxu5</option>
            // <option value="kmkhasni">kmkhasni</option>
            // <option value="xzou2">xzou2</option>
            option(value='htang4') htang4
            // <option value="fameeta">fameeta</option>
            option(value='dadesai') dadesai
            // <option value="hguo5">hguo5</option>
            option(value='pjones') pjones
            option(value='pmahish') pmahish
            // <option value="ptdikshi">ptdikshi</option>
            option(value='shsu3') shsu3
            option(value='skalmad') skalmad
            option(value='sdavang') sdavang
            option(value='drmedd') drmedd
            option(value='ryang9') ryang9
            option(value='dbhat2') dbhat2
            option(value='sshen') sshen
          button(onclick='GetUserData()') Get User Data
        td(style='width:33%')
          | Assignments:
          select#selectionAssignment(onchange='AssignmentChanged()')
            option(value='', disabled='', selected='') Select an Assignment
            // For Viewing all Assignments
            option(value='ALL') ALL
            // <option value="T1">Tutorial 1</option>
            // <option value="T2">Tutorial 2</option>
            option(value='T3') Tutorial 3
            // <option value="L1">Lab 1</option>
            // <option value="L2">Lab 2</option>
            // <option value="L3">Lab 3</option>
            option(value='P1') Project 1
            option(value='P2') Project 2
            option(value='P3') Project 3
            option(value='P5') Project 5
            // <option value="H1">Homework 1</option>
            // <option value="H2">Homework 2</option>
            option(value='H3') Homework 3
            option(value='H4') Homework 4
            option(value='H5') Homework 5
            option(value='H6') Homework 6
            // <option value="A1">Ad-hoc 1</option>
            // <option value="A2">Ad-hoc 2</option>
            // <option value="A3">Ad-hoc 3</option>
            option(value='A4') Ad-hoc 4
            option(value='A5') Ad-hoc 5
            option(value='A6') Ad-hoc 6
            // <option value="J1">JobAssignment 1</option>
            // <option value="B1">Bonus Assignment 1</option>
            // <option value="B2">Bonus Assignment 2</option>
            option(value='E1') Exam 1
          button(onclick='GetAssignmentData()') Get Assignment Data
      tr
        td(colspan='2')
          h4 Realtime Activity Predictions per User/Assignments using Holt-Winters model
      tr
        // <td width="inherit"><img id="img_agg" src="spinner.gif" width="300" height="300"></td>
        td
          img#img_user(src='/images/spinner.gif', width='450', height='300')
          // <div id="img_user" SRC="spinner.gif" WIDTH="300" HEIGHT="300"></div>
        td
          img#img_assignment(src='/images/spinner.gif', width='450', height='300')
      tr
        td(colspan='2')
          h4 Latest APRIORI Association Rules (Filtered by Users/Assignments above)
      tr
        // <td width="inherit"><img id="img_agg" src="spinner.gif" width="300" height="300"></td>
        td
          img#img_sup_conf(src='/images/spinner.gif', width='450', height='300')
          // <div id="img_user" SRC="spinner.gif" WIDTH="300" HEIGHT="300"></div>
        td
          img#img_top_association(src='/images/spinner.gif', width='450', height='300')
    script.
      //document.getElementById("selectionUser").addEventListener("onchange", UserChanged);
      <!-- document.getElementById("selectionAssignment").addEventListener("onchange", AssignmentChanged); -->
      <!--    document.getElementById("nitin").innerHTML = document.getElementById("selectionUser").value ;
      -->
  p#ss-pingpong
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.socket.io.js')
  //
    <script src="jquery.csvToTable.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='//jquerycsvtotable.googlecode.com/files/jquery.csvToTable.js')
