<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
  </head>
  <body style="background-color:#55ACEE">
    <h1 align="center" style="color: #FFFFFF; font-weight: bold">Journaling Dashboard</h1>
    <table style="width:90%" border-width="2" border="1" align="center">
      <tr height="50px" align="center">
        <button onclick="ClickFun()">Click me!</button>
        <td style="width:33%">Aggregate : 
          <div id="nitin"> </div>
        </td>
        <td style="width:34%">Users:
          <!-- <select id="selectionUser" onchange="alert(this.options[this.selectedIndex].text);">-->
          <select id="selectionUser" onchange="UserChanged()">
            <option value="" style="display:none">Choose a student</option>
            <option value="u1">User 1</option>
            <option value="u2">User 2</option>
            <option value="u3">User 3</option>
            <option value="u4">User 4</option>
            <option value="u5">User 5</option>
          </select>
        </td>
        <td style="width:33%">Assignments:
          <select id="selectionAssignment" onchange="AssignmentChanged()">
            <option value="" disabled="" selected="">Select an Assignment</option>
            <option value="a1">Assignment 1</option>
            <option value="a2">Assignment 2</option>
            <option value="a3">Assignment 3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td width="inherit"><img id="img_agg" src="spinner.gif" width="300" height="300"></td>
        <td><img id="img_user" src="./public/images/spinner.gif" width="300" height="300">
          <!-- <div id="img_user" SRC="spinner.gif" WIDTH="300" HEIGHT="300"></div>-->
        </td>
        <td><img id="img_assignment" src="/public/images/spinner.gif" width="300" height="300"></td>
      </tr>
      <tr>
        <td colspan="3">
          <div id="csv_student">This is Student CSV source...<br>
            <!-- <embed src = "student.csv">-->
          </div>
          <div id="csv_data"></div>
        </td>
        <td></td>
      </tr>
    </table>
    <!--
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    -->
    <script>
      //document.getElementById("selectionUser").addEventListener("onchange", UserChanged);
      <!-- document.getElementById("selectionAssignment").addEventListener("onchange", AssignmentChanged); -->
      <!--    document.getElementById("nitin").innerHTML = document.getElementById("selectionUser").value ;
      -->
      function UserChanged(){
      //for updating the image files..
      var dirName = document.getElementById("selectionUser").value;
      document.getElementById("nitin").innerHTML = dirName;
      var chartPath = "/public/images/users/" + dirName + "/1.png";
      <!-- alert("selection changed for file path : ..." + chartPath);<!-- document.getElementById("") --> -->
      document.getElementById("img_user").src = chartPath;
      <!--      document.getElementById("img_user").background-image = chartPath;
      -->
      //for updating the csv files..
      <!-- alert("calling for csv section.." + document.getElementById("csv_student").innerHTML);
      <!-- document.getElementById("csv_student").CSVToTable("student.csv"); -->
      }
      function AssignmentChanged(){
      var dirName = document.getElementById("selectionAssignment").value;
      document.getElementById("nitin").innerHTML = dirName;
      var chartPath = "assignments/" + dirName + "/1.png";
      <!-- alert("selection changed for file path : ..." + chartPath);<!-- document.getElementById("") --> -->
      document.getElementById("img_assignment").src = chartPath;
      //for updating the csv files..
      <!-- document.getElementById("csv_student").csvToTable("data.csv"); -->
      }
      function ClickFun(){
      document.getElementById("csv_student").innerHTML = "This is spaceholder for CSV file..";
      csvFunction();
      }
    </script>
    <script>
      function csvFunction () {
      alert("into jquery function for csv,,,");
      $('#csv_student').CSVToTable('student.csv');
      }
    </script>
  </body>
  <p id="ss-pingpong"></p>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/client.socket.io.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <!--
  <script src="jquery.csvToTable.js"></script>
  <script src="jquery-1.11.2.min.js"></script>
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//jquerycsvtotable.googlecode.com/files/jquery.csvToTable.js"></script>
</html>