doctype html
html
  head
    title Dashboard Test
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  body(style='background-color:#55ACEE')
    h1(align='center', style='color: #FFFFFF; font-weight: bold') Journaling Dashboard
    table(style='width:90%', border-width='2', border='1', align='center')
      tr(height='50px', align='center')
        button(onclick='ClickFun()') Click me!
        td(style='width:33%')
          | Aggregate : 
          #nitin  
        td(style='width:34%')
          | Users:
          // <select id="selectionUser" onchange="alert(this.options[this.selectedIndex].text);">
          select#selectionUser(onchange='UserChanged()')
            option(value='', style='display:none') Choose a student
            option(value='u1') User 1
            option(value='u2') User 2
            option(value='u3') User 3
            option(value='u4') User 4
            option(value='u5') User 5
        td(style='width:33%')
          | Assignments:
          select#selectionAssignment(onchange='AssignmentChanged()')
            option(value='', disabled='', selected='') Select an Assignment
            option(value='a1') Assignment 1
            option(value='a2') Assignment 2
            option(value='a3') Assignment 3
      tr
        td(width='inherit')
          img#img_agg(src='spinner.gif', width='300', height='300')
        td
          img#img_user(src='/public/images/spinner.gif', width='300', height='300')
          // <div id="img_user" SRC="spinner.gif" WIDTH="300" HEIGHT="300"></div>
        td
          img#img_assignment(src='/public/images/spinner.gif', width='300', height='300')
      tr
        td(colspan='3')
          #csv_student
            | This is Student CSV source...
            br
            // <embed src = "student.csv">
          #csv_data
        td
    //
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/bootstrap.min.js"></script>
    script.
      //document.getElementById("selectionUser").addEventListener("onchange", UserChanged);
      <!-- document.getElementById("selectionAssignment").addEventListener("onchange", AssignmentChanged); -->
      <!--    document.getElementById("nitin").innerHTML = document.getElementById("selectionUser").value ;
      -->
  p#ss-pingpong
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/client.socket.io.js')
  //
    <script src="jquery.csvToTable.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='//jquerycsvtotable.googlecode.com/files/jquery.csvToTable.js')
